h1 {
        color: #FCA205;
        align-content: center;
    }
body {
        padding-left: 15px;
    }
/* sop table */
table .sop {
    border: 0px double #999999;
    border-collapse: collapse;
   }
table th {
    text-align: center;
    background: #2e8ce3;
    padding: 1px;
    border: 1px solid #999999;
	color: #eee;
    align-content: center;
	}
table td {
    padding: 2px;
    border: 1px solid #999999;
    align-content: center;
    text-align: center;
   }
.button {
	color: #2e8ce3;
	border: solid 1px #ccc;
	background: #eee;
}
.button:hover {
	color: black;
	background: #f47c20;
}
.button:active {
	color: #fcd3a5;
}
