{% extends 'flightinfosystem/base.html' %}

{% block content %}
    <div>
        <h2>Список существующих выходов на посадку</h2>
    </div>
    <div>
        <table class="sop">
            <tr>
                <th width="150">Терминал</th>
                <th width="50">Короткое имя</th>
                <th width="30">Номер выхода</th>
                <th>Начало</th>
                <th>Конец</th>
                <th>Привязанный рейс</th>
            </tr>
        {% for board in boards %}
            <tr>
                <td>{{ board.fullname }}</td>
                <td>{{ board.shortname }}</td>
                <td><a href="{% url 'fids:boardgate' board.id%}">{{ board.num }}</a></td>
            {% if board.boardfly %}
                <td>{{ board.boardfly.timestartboard|time:"H:i" }}</td>
                <td>{{ board.boardfly.timestopboard|time:"H:i" }}</td>
                <td>{{ board.boardfly }}</td>

            {% else%}
                <td colspan="4"> Нет посадки </td>
            {% endif %}
            </tr>
        {% empty %}
            <tr>
                <td colspan="6">Внимание! Не заполнен справочник выходов (гейтов)!</td>
            </tr>
        {% endfor %}
        </table>
    </div>
{% endblock content %}