{% extends 'flightinfosystem/base.html' %}

{% block content %}
    <div>
        <h2>Список рейсов (регулярные и чартерные)</h2>
    </div>
    <div>
        <table class="table">
            <tr>
                <th></th>
                <th>Рейс</th>
                <th>Направления</th>
                <th width="150">По расписанию</th>
                <th width="150">Расчетное<br>время</th>
                <th width="150">Фактическое<br>время</th>
                <th>Статус</th>
            </tr>
        {% for flight in flights %}
            <tr>
                <td>
                    {% if flight.isarrivals  %}
                        <img src="/static/img/arrive.gif">
                    {% else %}
                        <img src="/static/img/depart.gif">
                    {% endif %}
                </td>
                <td><a href=" {% url 'fids:flight_detail' flight.id %}">{{ flight.fly }}</a></td>
                <td>{{ flight.portdist }}</td>
                <td>{{ flight.timeplan }}</td>
                <td>{{ flight.timeexp }}</td>
                <td>{{ flight.timefact }}</td>
                <td>{{ flight.status }}</td>
            </tr>
        {% endfor %}
        </table>
    </div>
{% endblock content %}