{% extends 'flightinfosystem/base.html' %}
{% load staticfiles %}

{% load staticfiles %}
{% block content %}
    <div>
        <h2>Список рейсов (регулярные и чартерные)</h2>
    </div>
    <div>
        <table class="table">
            <tr>
                <th></th>
                <th></th>
                <th>Рейс</th>
                <th>Маршрут</th>
                <th width="150">По расписанию</th>
                <th width="150">Расчетное<br>время</th>
                <th width="150">Фактическое<br>время</th>
                <th>Статус</th>
                <th>Состояние</th>

            </tr>
        {% for flight in flights %}
            <tr>
                <td>
                    {% if flight.isarrivals  %}
                        <img src="{% static "flightinfosystem/img/arrive.gif" %}">
                    {% else %}
                        <img src="{% static "flightinfosystem/img/depart.gif" %}">
                    {% endif %}
                </td>
                <td>
                    {% if flight.isclose %}
                    <img src="{% static "flightinfosystem/img/close.jpeg" %}" width="40px" height="33px">
                    {% else %}
                    <img src="{% static "flightinfosystem/img/open.jpeg" %}" width="40px" height="33px">
                    {% endif %}
                </td>
                <td><a href=" {% url 'fids:spravki_edit' flight.id %}">{{ flight.fly }}</a></td>
                <td>{{ flight.portdist }}</td>
                <td>{{ flight.timeplan|date:"d.m.Y H:i" }}</td>
                <td>{{ flight.timeexp|date:"d.m.Y H:i" }}</td>
                <td>{% if flight.timefact %}{{ flight.timefact|time:"H:i" }}{% endif %}</td>
                <td>{{ flight.status }}</td>
                <td>{{ flight.stateflight }}</td>

            </tr>
        {% empty %}
            <tr>
                <td colspan="9">Список рейсов давно не обновлялся</td>
            </tr>
        {% endfor %}
        </table>

    </div>
{% endblock content %}